<div class="container" *ngIf="breakingNewItem">
    <div class="row">
        <div class="col-8">
            <div class="item_detail mt-4">
                <h1>{{breakingNewItem.Title}}</h1>
                <img src="http://nodeappshop.club/uploads/{{breakingNewItem.Image}}" alt="" style="max-width: 600px; margin: 10px 0 20px;">
                <p>{{breakingNewItem.Description}}</p>
            </div>
            <!-- <div class="related-posts">
                <h2>Related News</h2>
                <div class="related-item-container">
                    <div class="related-item">
                        <img src="assets/posts/jagan.webp" alt="" style="max-width: 90px;">
                        <span>AP CM Jagan mohan tour to China AP CM Jagan mohan tour to China
                            <div class="date_time">
                                August 15 , 2020
                            </div>
                        </span>
                    </div>
                    <div class="related-item">
                        <img src="assets/posts/jagan.webp" alt="" style="max-width: 90px;">
                        <span>AP CM Jagan mohan tour to China AP CM Jagan mohan tour to China
                            <div class="date_time">
                                August 15 , 2020
                            </div>
                        </span>
                    </div>
                    <div class="related-item">
                        <img src="assets/posts/jagan.webp" alt="" style="max-width: 90px;">
                        <span>AP CM Jagan mohan tour to China AP CM Jagan mohan tour to China
                            <div class="date_time">
                                August 15 , 2020
                            </div>
                        </span>
                    </div>
                    <div class="related-item">
                        <img src="assets/posts/jagan.webp" alt="" style="max-width: 90px;">
                        <span>AP CM Jagan mohan tour to China AP CM Jagan mohan tour to China
                            <div class="date_time">
                                August 15 , 2020
                            </div>
                        </span>
                    </div>
                    <div class="related-item">
                        <img src="assets/posts/jagan.webp" alt="" style="max-width: 90px;">
                        <span>AP CM Jagan mohan tour to China AP CM Jagan mohan tour to China
                            <div class="date_time">
                                August 15 , 2020
                            </div>
                        </span>
                    </div>
                    <div class="related-item">
                        <img src="assets/posts/jagan.webp" alt="" style="max-width: 90px;">
                        <span>AP CM Jagan mohan tour to China AP CM Jagan mohan tour to China
                            <div class="date_time">
                                August 15 , 2020
                            </div>
                        </span>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-4"></div>
    </div>
</div>